doctype html
html
	head
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		link(rel='stylesheet', href='/styles/main.css', type='text/css')
		link(href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet")
	body
		br
		h1 Such kawaii, many wow
		div#thumbnails
			img#cat1(src="img/thumbnails/cat2_thumb.jpg")
			img#cat2(src="img/thumbnails/cat4_thumb.jpg")
			img#cat3(src="img/thumbnails/cat7_thumb.jpg")
			img#cat4(src="img/thumbnails/cat8_thumb.jpg")
		div
			button#likeCat1 Cat 1 is kawaii
			button#likeCat2 Cat 2 is kawaii
			button#likeCat3 Cat 3 is kawaii
			button#likeCat4 Cat 4 is kawaii
		div
			p#cutecats1 people think that cat1 is kawaii
			p#cutecats2 people think that cat2 is kawaii
			p#cutecats3 people think that cat3 is kawaii
			p#cutecats4 people think that cat4 is kawaii
		div#bigcat
			p Click on the thumbnails above to create a cat-request huehue
		script.
			$(document).ready(function() {
				$("#cat1").click(function() {
					$.get("/getImage", function (res) {
						var source = res.src[0]
						$("#bigcat").html("<img src='" + source + "' />");
					});
				});
				$("#cat2").click(function() {
					$.get("/getImage", function (res) {
						var source = res.src[1]
						$("#bigcat").html("<img src='" + source + "' />");
					});
				});
				$("#cat3").click(function() {
					$.get("/getImage", function (res) {
						var source = res.src[2]
						$("#bigcat").html("<img src='" + source + "' />");
					});
				});
				$("#cat4").click(function() {
					$.get("/getImage", function (res) {
						var source = res.src[3]
						$("#bigcat").html("<img src='" + source + "' />");
					});
				});
				$("#likeCat1").click(function() {
					var catnr = {
						nr: 1
					};

					$.post("/like", catnr, function(res) {
						$('#cutecats1').html('<p> ' + res.likes + ' people think that cat1 is kawaii </p>');
					});
				});
				$("#likeCat2").click(function() {
					var catnr = {
						nr: 2
					};

					$.post("/like", catnr, function(res) {
						$('#cutecats2').html('<p> ' + res.likes + ' people think that cat2 is kawaii </p>');
					});
				});
				$("#likeCat3").click(function() {
					var catnr = {
						nr: 3
					};

					$.post("/like", catnr, function(res) {
						$('#cutecats3').html('<p> ' + res.likes + ' people think that cat3 is kawaii </p>');
					});
				});
				$("#likeCat4").click(function() {
					var catnr = {
						nr: 4
					};

					$.post("/like", catnr, function(res) {
						$('#cutecats4').html('<p> ' + res.likes + ' people think that cat4 is kawaii </p>');
					});
				});
			});
