body {
	text-align: center;
	background-image: url(../img/sakura.png);
	font-family: 'Walter Turncoat', cursive;
}

button {
	border: none;
	background-color: #4286f4;
	color: white;
	font-family: 'Walter Turncoat', cursive;
	font-size: 15px;
}

#thumbnails {
	width: 100%;
}

#cat1, #cat2, #cat3, #cat4 {
	margin: 25px 50px 25px 50px;
}

#likeCat1, #likeCat2, #likeCat3, #likeCat4 {
	margin: 25px 40px 25px 40px;
}

#cutecats1, #cutecats2, #cutecats3, #cutecats4 {
	display: inline-block; 
	margin: 25px;
}

#bigcat {
	width: 800px; 
	height: 600px; 
	margin: 0 auto; 
	border: 1px dotted black;
}